<!doctype html>
<html class="no-js" lang="" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Background Size Sample</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-controller="BackgroundSizeCtrl">
    <div id="image-container" ng-style="styles"></div>
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6">
            <h3>Image</h3>

            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-1 control-label" for="formGroupInputLarge">url</label>
                <div class="col-sm-11">
                  <input ng-model="image" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Options</h3>

            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label" for="formGroupInputLarge">container height (px)</label>
                <div class="col-sm-8">
                  <input type="number" ng-model="height" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" for="formGroupInputLarge">container width (%)</label>
                <div class="col-sm-8">
                  <input type="number" ng-model="width" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" for="formGroupInputLarge">background-size</label>
                <div class="col-sm-8">
                  <select ng-model="styles['background-size']" class="form-control">
                    <option ng-repeat="size in backgroundSizes" value="{{size}}">{{size}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" for="formGroupInputLarge">background-repeat</label>
                <div class="col-sm-8">
                  <select ng-model="styles['background-repeat']" class="form-control">
                    <option ng-repeat="repeat in backgroundRepeat" value="{{repeat}}">{{repeat}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" for="formGroupInputLarge">background-position</label>
                <div class="col-sm-8">
                  <select ng-model="styles['background-position']" class="form-control">
                    <option ng-repeat="position in backgroundPosition" value="{{position}}">{{position}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
